Package: yabasiclibs
Version: 0.0.1-1
Section: base
Priority: optional
Architecture: any
Depends: yabasic(>= 2.79.0)
Maintainer: Michel Clasuin-Johnson <clasqm@gmail.com>
Description: libraries for yabasic
 A series of libraries for yabasic , the BASIC dialect by
 Marc Ihm, that give access to a number of common
 utilities on Linux. Not tested on other UNIX platforms,
 but it should be possible to adjust them accordingly.
 This software is still very much in the alpha stage.
 The routines in the libraries work, but need a lot of
 optimization and error-trapping..
